.button {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: pre;
  color: #fff;
  font-weight: 600;
  height: 3rem;
  padding: 0 3rem;
  border-radius: 1rem;
  border: none;
}

.button:active, .button:focus {
  border: none;
  outline: none;
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.button.red {
  background-color: rgb(255, 15, 88);
}
