#vk_logo:hover {
  cursor: pointer;
}

#vk_logo rect {
  fill: #fff;
  stroke: #ccc;
  stroke-width: 10;
  box-sizing: border-box;
}

#vk_logo path {
  fill: #ccc;
}

#vk_logo:hover rect {
  fill: #44678D;
  stroke: none;
  stroke-width: 0;
}

#vk_logo:hover path {
  fill: #fff;
}
